.about {
    &__block {
        margin-bottom: 140px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-image {
            max-width: 434px;
            max-height: 434px;
            border-radius: 50%;
        }
    }
    &__descr {
        max-width: 65%;
        &-text {
            font-size: 20px;
            padding: 15px;
            margin-bottom: 24px;
            background-color: rgba(123, 74, 226, 0.1);
            max-width: 14%;
            border-radius: 15px;
            color: #7B4AE2;
            &-forme {
                line-height: 25px;
                font-size: 18px;
            }
        }
        &-head {
            margin-bottom: 24px;
            font-size: 48px;
            font-weight: bolder;
        }
    }
}