.header__block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 11px 24px;
  max-width: 100%;
  max-height: 64px;
  background-color: rgba(123, 74, 226, 0.05);
}
.header__logo-svg {
  max-width: 36px;
  max-height: 40px;
}
.header__nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 710px;
}
.header__nav-link {
  font-size: 18px;
}

.head__block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 100px 0 186px 0;
}
.head__block-svg {
  max-width: 36px;
  max-height: 40px;
}
.head__block-cv-svg {
  max-width: 36px;
  max-height: 40px;
}
.head__block-name {
  display: flex;
  flex-direction: column;
  flex: 0 0 26%;
}
.head__block-name-hello {
  margin-bottom: 24px;
  font-size: 20px;
  font-weight: bold;
}
.head__block-name-heading {
  margin-bottom: 16px;
  font-size: 52px;
}
.head__block-name-special {
  margin-bottom: 16px;
  font-size: 20px;
}
.head__block-men {
  display: flex;
  flex: 0 0 34%;
}
.head__block-social-link:first-child {
  margin-right: 15px;
}
.head__block-cv {
  display: flex;
  flex-direction: column;
  flex: 0 0 20%;
  align-items: flex-end;
}
.head__block-cv-download {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  color: rgba(123, 74, 226, 0.5);
  margin-bottom: 8px;
}
.head__block-cv-contact {
  display: flex;
  align-items: center;
  padding: 15px 15px;
  font-size: 16px;
  font-weight: 500;
  color: rgba(123, 74, 226, 0.5);
  border: 1px solid rgba(123, 74, 226, 0.5);
  border-radius: 16px;
}
.head__block-cv-svg {
  max-width: 24px;
  max-height: 24px;
  margin-right: 5px;
}

* {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  background-color: #090E16;
  color: #FFFFFF;
}

body::-webkit-scrollbar {
  width: 3px;
  background-color: #f9f9fd;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #18aaaa;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: #f9f9fd;
}

h1,
h2,
h3,
h4 {
  padding: 0;
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
}

a {
  color: #FFFFFF;
  text-decoration: none;
}

.container {
  max-width: 1640px;
  margin: 0 auto;
  padding: 0 30px;
}

ul,
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.experiense {
  padding: 100px 0;
  border-top: 1px solid rgba(123, 74, 226, 0.2);
  border-bottom: 1px solid rgba(123, 74, 226, 0.2);
}
.experiense__block {
  display: flex;
  justify-content: center;
}
.experiense__block-prof {
  display: flex;
  justify-content: space-between;
  min-width: 36%;
}
.experiense__block-svg {
  width: 72px;
  height: 64px;
}
.experiense__block-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 50px;
  border: 1px solid rgba(123, 74, 226, 0.2);
}
.experiense__block-card-descr {
  font-size: 16px;
}

.about__link {
  padding: 10px 10px;
  color: rgb(123, 74, 226);
  background-color: rgba(123, 74, 226, 0.1);
  border: 1px solid transparent;
  border-radius: 10px;
}
.about__block {
  margin-bottom: 140px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.about__block-image {
  max-width: 434px;
  max-height: 434px;
  border-radius: 50%;
}
.about__descr {
  max-width: 65%;
}
.about__descr-text {
  font-size: 20px;
  padding: 15px;
  margin-bottom: 24px;
  background-color: rgba(123, 74, 226, 0.1);
  max-width: 14%;
  border-radius: 15px;
  color: #7B4AE2;
}
.about__descr-text-forme {
  line-height: 25px;
  font-size: 18px;
}
.about__descr-head {
  margin-bottom: 24px;
  font-size: 48px;
  font-weight: bolder;
}
.about__project {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 24px;
}
.about__project-heading {
  font-size: 48px;
}
.about__project-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.about__project-item:not(:last-child) {
  margin-right: 15px;
}
.about__project-button {
  display: flex;
  align-items: flex-end;
  padding: 10px 10px;
  font-size: 20px;
  color: rgba(123, 74, 226, 0.5);
  background-color: transparent;
  border: 1px solid rgba(123, 74, 226, 0.5);
  border-radius: 5px;
}
.about__project-svg {
  margin-right: 5px;
  width: 20px;
  height: 20px;
}
.about__project-tabs-container {
  display: none;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 63px 1px 1px 1px;
  margin-bottom: 94px;
}
.about__project-tabs-container-active {
  display: flex;
}
.about__project-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-bottom: 40px;
  min-height: 553px;
  padding: 30px 30px;
  max-width: 360px;
  border: 1px solid rgba(123, 74, 226, 0.5);
  border-radius: 10px;
  text-align: justify;
  vertical-align: bottom;
}
.about__project-card-heading {
  margin-bottom: 9px;
  font-size: 20px;
}
.about__project-card-text {
  min-height: 70px;
  margin-bottom: 16px;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
}
.about__project-card-group {
  margin-bottom: 22px;
}
.about__project-card-links {
  width: 300px;
  height: 60px;
  align-self: center;
  border: 1px solid transparent;
  border-radius: 10px;
}
.about__project-card-img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  min-height: 62%;
  border-radius: 10px;
}
.about__develop {
  position: relative;
}
.about__dev-opas {
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  vertical-align: text-bottom;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 20px;
  padding-top: 230px;
  color: #ffffff;
  opacity: 0.6;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.tech {
  padding-top: 100px;
}
.tech__heading {
  font-size: 48px;
  text-align: center;
  margin-bottom: 50px;
}
.tech__group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tech__group-daily {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tech__group-daily-text {
  color: rgba(255, 255, 255, 0.5);
  font-size: 24px;
  margin-bottom: 20px;
}
.tech__group-daily-list {
  display: flex;
  flex-direction: row;
}
.tech__group-daily-item:not(:last-child) {
  margin-right: 30px;
}
.tech__group-daily-svg {
  width: 84px;
  height: 84px;
}/*# sourceMappingURL=style.css.map */